body {
    padding: 50px 25px 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $primary;
    background-color: $neutral;
    line-height: 1.2;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    max-width: 1200px;
    border-radius: 20px;
    background-color: $neutralLight;
    box-shadow: 0 10px 20px rgba($primary, 0.04);
    margin: 0 auto;

}

.section {
    padding: 45px 60px;
}

.title {
    position: relative;
    font-weight: 700;
    font-size: 32px;
    color: $primary;
    text-transform: capitalize;
    margin-bottom: 40px;
    z-index: 2;


    &::before {
        content: "";
        position: absolute;
        left: 35%;
        bottom: 0;
        width: 176px;
        height: 14px;
        transform: skew(-12deg) translateX(-50%);
        background: rgba($accentBright, 0.5);
        z-index: -1;
    }
}

/* .underline {
    background-image: linear-gradient(90deg, #FE6D48, #FCB858);
    background-position: bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
} */

::placeholder {
    color: $primaryLightest;
}

.price {
    font-family: inherit;
    color: inherit;
    font-weight: 700;
}

.btn {
    background-color: $accent;
    color: $neutralLight;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.03em;
    padding: 20px 30px;
    border-radius: 18px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: lighten($accent, 7%);
    }

    &:active {
        background-color: darken($accent, 10%);
    }
}

/* Scrollbar style */

/* ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(61, 58, 58);
    background: radial-gradient(circle, rgba(61, 58, 58, 1) 0%, rgba(0, 0, 0, 0.9) 100%);
    border-radius: 100vw;
    margin-block: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(254, 109, 72);
    background: linear-gradient(90deg, rgba(254, 109, 72, 1) 0%, rgba(252, 184, 88, 1) 100%);
    border: 2px solid $primary;
    border-radius: 100vw;
} */