@import 'reset';
@import 'vars';
@import 'global';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 0 44px;
  border-bottom: 2px solid $neutralLighter;
  padding: 43px 25px;

  &__logo {
    margin-right: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'Zen Dots', cursive;
    margin-bottom: 5px;
  }

  &__subtitle {
    color: $primaryLight;
    text-transform: capitalize;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
  }

  &__right-item {
    display: flex;
  }

  &__icon:not(:last-child) {
    margin-right: 10px;
  }

  &__price {
    margin-right: 30px;
  }
}

.product {
  background-color: $neutralLight;
  border: 1px solid $neutralLightest;
  border-radius: 40px;
  max-width: 220px;
  padding: 30px 30px 34px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }


  &__img {
    margin-bottom: 14px;
  }

  &__title {
    font-size: 14px;
    line-height: 17px;
    font-size: inherit;
    margin-bottom: 14px;
  }

  &__subtitle {
    display: block;
  }

  &__details {
    display: flex;
    justify-content: space-between;
  }

  &__details-title {
    text-transform: uppercase;
    color: $primaryLightest;
    font-size: 12px;
    margin-bottom: 5px;
  }

  &__details-price {
    font-weight: 700;
  }
}