$primary: #000;
$primaryDark: #070303;
$primaryDarker: #000;
$primaryLight: #757575;
$primaryLighter: #5C5C5C;

$secondary: #2F303A;
$secondaryDark: #2F303A;

$accent: #9DD458;
$accentLight: #F29040;

$neutral: #E7F6FF;
$neutralLight: #FFFFFF;
$neutralLighter: #EAEAEA;